# Node dependency directories
node_modules/

# Build directories
dist/

# Editor directories
.vscode/
.idea/

# Environment variables files
.env
.env.*
!.env.example

# System files
.DS_Store
Thumbs.db
